body {
  background-image: url("https://media.giphy.com/media/KJguq9IjQVGYU/giphy.gif");
  background-size: cover;
  color: white;

  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 20pt;
  position: relative;
  top: 150px;
  text-align: center;
}
body img{
  max-height: 400px;
  width: auto;
}

a{
  color: white;
  font-size: 16pt;
}

button {
  background-color: #d2c2b0;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
