#signin {

  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 12pt;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.form-control {
  flex-basis: 30%;
  align-items: baseline;
}

.create-profile-text{
  text-align: left !important;
}
