#signin {

  padding-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 12pt;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  
}

.form-control {
  flex-basis: 30%;
  align-items: baseline;
}

.create-profile-text{
  padding-bottom: 20px;
  text-align: center !important;
  color: white;
}

#background {
  height: 870px;
  background-image: url("https://media.giphy.com/media/2tNvsKkc0qFdNhJmKk/giphy.gif");
  background-size: cover;
  margin-top: -50px;
}
