.allProfile{
  position: absolute;
  float: left;
}
.profilePic{
  position: inherit;
  border-radius: 100%;
  float: left;
  object-fit: cover;
  width:200px;
  height:200px;
  margin-left: 5%;
}

h4{
  position: inherit;
  float:left;
  padding-left: 5%;
  padding-top: 2%;
  font-size: 30px;
}

h6{
  position: inherit;
  float:left;
  padding-top: 2%;
  padding-left: 1%;
  font-size: 30px;
  font-style: italic;
}

.descriptionText{
  position: inherit;
  padding-top: 6%;
  padding-left: 26%;
}

.socials{
  position: inherit !important;
  margin-left: 5% !important;

}

.workContainer{
  text-align: center;
}

.workPic{
  position: inherit;
  object-fit:cover;
  margin-top: 8% !important;
  margin-left: 4% !important;
  width:300px;
  height:300px;

}
