.profilePic{
  display: inline;
  margin: 0 auto;
  margin-left: 0;
  height:100%;
  width: auto;
  float: left;


}
#propic{
   width: 150px;
   height: 150px;
   position: relative;;
   overflow: hidden;
   border-radius: 50%;

}
h4{
  float:left;
  padding-left: 80px;
  padding-top: 50px;
  font-size: 30px;
}

h6{
  float:left;
  padding-top: 59px;
  padding-left: 50px;
  font-size: 20px;
}

p{
  position:relative;
  top: 100px;
  left: -63px;
}

.socials{
  position: relative;
  top:40px;
  left: -250px;
  padding: 10px;
  margin: 2px;
}

#row1{
  left: 10px;
}
#row2{
  left:200px;
}

.workPic{
  position: relative;
  margin-top: 100px;
  object-fit:cover;
  margin-top: 110px;
  margin-left: 10px;
  margin-right: 10px;
  width:300px;
  height:300px;

}
