* {
  font-family: 'Helvetica', sans-serif;
}

html, body {
  height: 100%;
  height: 670px;
  background-image: url("https://media.giphy.com/media/KJguq9IjQVGYU/giphy.gif");
  background-size: cover;
  margin: -10px;
  color: white;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 20pt;
  position: relative;
  text-align: center;
}
.HavenText-Welcome{
  color: white;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 30pt;
  line-height: 38px;
  text-align: center !important;
  left: 0%;
}

 
#section1 {
  height: 670px;
  background-image: url("https://media.giphy.com/media/KJguq9IjQVGYU/giphy.gif");
  background-size: cover;
  margin: -10px;
  color: white;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 20pt;
  position: relative;
  text-align: center;
}

#section2 {
  background-image: url("https://media.giphy.com/media/LOFEhmimtAAZW/giphy.gif");
  background-size: cover;
  height: 670px;
  background-size:100%;
  margin: 0px;
  color: white;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 20pt;
  position: relative;
  text-align: center;
}

.main-body {
  color: white;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 20pt;
  position: relative;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#section1 p{
  position: relative;
  top: 150px;
}
#section2 p{
  position: relative;
  top: 150px;
}


#section1 img{
  position: relative;
  top: 150px;
  max-height: 400px;
  width: auto;
}

.main a{
  position: relative;
  top: 130px;
  color: white;
  font-size: 16pt;
}

.main button {
  position:relative;
  top: 0px;
  background-color: #d2c2b0;
  border: none;
  color: white;
  padding: 15px 25px !important;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.main .button:hover{
  background-color: white;
  color: #d2c2b0;
}

.main h2{
  color: white;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 30pt;
  line-height: 38px;
  text-align: center;
  position: relative;
  top: 180px;
}



.wholesection{
  scroll-behavior: smooth !important;
}

button.button{
  margin: 30px !important;
}
